@page
@model MedicalCenter.Pages.MedicalStaff.EditModel
@inject CommonLocalizationService localizer
@{
    ViewData["Title"] = localizer.Get("MedicalStaff") + localizer.Get("Edit");
}

<h1>@localizer.Get("Edit")</h1>

<h4>@localizer.Get("MedicalStaff")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedicalStaff.Id" />
            <div class="form-group">
                <label asp-for="MedicalStaff.FirstName" class="control-label"></label>
                <input asp-for="MedicalStaff.FirstName" class="form-control" />
                <span asp-validation-for="MedicalStaff.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalStaff.LastName" class="control-label"></label>
                <input asp-for="MedicalStaff.LastName" class="form-control" />
                <span asp-validation-for="MedicalStaff.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalStaff.StartTime" class="control-label"></label>
                <input asp-for="MedicalStaff.StartTime" class="form-control" />
                <span asp-validation-for="MedicalStaff.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalStaff.EndTime" class="control-label"></label>
                <input asp-for="MedicalStaff.EndTime" class="form-control" />
                <span asp-validation-for="MedicalStaff.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalStaff.Specialisation" class="control-label"></label>
                <select asp-for="MedicalStaff.Specialisation" class="form-control" asp-items="ViewBag.Specialisation"></select>
                <span asp-validation-for="MedicalStaff.Specialisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalStaff.ConsultationRoom" class="control-label"></label>
                <select asp-for="MedicalStaff.ConsultationRoomId" class="form-control" asp-items="ViewBag.Room"></select>
                <span asp-validation-for="MedicalStaff.ConsultationRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@localizer.Get("Save")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">@localizer.Get("BackToList")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
