@page
@inject CommonLocalizationService localizer
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = localizer.Get("ForgotPasswordConfirmation");
}

<h1>@ViewData["Title"]</h1>
<p>
    @localizer.Get("CheckEmail")
</p>

