@page
@model LogoutModel
@inject CommonLocalizationService localizer
@{
    ViewData["Title"] = localizer.Get("Logout");
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">@localizer.Get("ClickToLogout")</button>
            </form>
        }
        else
        {
            <p>@localizer.Get("SuccessfullyLoggedOut")</p>
        }
    }
</header>