@page
@inject CommonLocalizationService localizer
@model PrivacyModel
@{
    ViewData["Title"] = localizer.Get("PrivacyPolicy");
}
<h1>@ViewData["Title"]</h1>

<p>@localizer.Get("PrivacyPolicyPage")</p>
